<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--Conexion Base Acuario-->
		<!--<add name="cadena_conexion" connectionString="Data Source=DESKTOP-7T0HGBV\SQLEXPRESS;Initial Catalog=DBSISTEMA_VENTA;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--Conexion Base Notebook Joaco-->
		<!--<add name="cadena_conexion" connectionString="Data Source=DESKTOP-43OTL1Q\SQLEXPRESS;Initial Catalog=DBSISTEMA_VENTA;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--Conexion Base CGP Joaco -->
		<add name="cadena_conexion" connectionString="Data Source=JAALVAREZ\SQLEXPRESS01;Initial Catalog=SistemaGestion;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>